# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# File to Load (Remember to change these)
city_data_to_load = "./Resources/city_data.csv"
ride_data_to_load = "./Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [3]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head(30)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
5,South Latoya,2019-03-11 12:26:48,9.52,1994999424437,10,Urban
6,New Paulville,2019-02-27 11:17:56,43.25,793208410091,44,Urban
7,Simpsonburgh,2019-04-26 00:43:24,35.98,111953927754,21,Urban
8,South Karenland,2019-01-08 03:28:48,35.09,7995623208694,4,Urban
9,North Jasmine,2019-03-09 06:26:29,42.81,5327642267789,33,Urban
10,New Kimberlyborough,2019-02-07 01:10:11,9.34,7992781920789,33,Urban
11,West Angela,2019-01-12 01:45:27,26.86,4820052223501,48,Urban
12,Rodneyfort,2019-03-02 18:03:20,44.26,2494064867705,34,Urban
13,West Angela,2019-01-10 12:17:31,12.74,2108723916092,48,Urban
14,Roberthaven,2019-05-04 14:48:56,25.66,1026197778354,47,Urban
15,North Jason,2019-03-28 22:28:44,9.19,7007022521141,6,Urban
16,Williamsview,2019-01-03 16:19:25,18.93,1979492913169,46,Urban
17,Leahton,2019-02-26 18:42:15,8.85,6966668662612,17,Urban
18,West Anthony,2019-03-06 02:27:01,10.02,9396763280782,70,Urban
19,New Kimberlyborough,2019-04-25 22:58:38,29.67,4823568522144,33,Urban
20,Roberthaven,2019-02-24 10:26:34,7.80,2180566685151,47,Urban
21,New Paulton,2019-05-01 03:12:49,8.28,8527101897862,44,Urban
22,West Patrickchester,2019-03-19 05:46:20,40.86,898889456779,25,Urban
23,Deanville,2019-04-25 03:29:09,41.52,6055928921559,49,Urban
24,West Josephberg,2019-02-19 16:22:09,36.39,3322126516683,45,Urban
25,West Samuelburgh,2019-05-03 14:33:41,41.12,7330842806458,73,Urban
26,West Heidi,2019-03-14 23:46:50,24.40,4908573010166,28,Urban
27,Loganberg,2019-04-01 01:06:03,8.23,678728883160,23,Urban
28,Huntermouth,2019-02-10 23:32:13,25.79,1880379662035,37,Urban
29,South Latoya,2019-01-11 18:44:14,27.41,8662301917375,10,Urban

## Deliverable 1: Get a Summary DataFrame

In [4]:
#  1. Get the total rides for each city type
total_rides_per_city_type=pyber_data_df.groupby('type')[['ride_id']].count()
total_rides_per_city_type

          ride_id
type
Rural         125
Suburban      625
Urban        1625

In [5]:
total_rides_per_city_type.sum()

ride_id    2375
dtype: int64

In [6]:
pyber_data_df.count()["city"]

2375

In [7]:
pyber_data_df.head(10)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
5,South Latoya,2019-03-11 12:26:48,9.52,1994999424437,10,Urban
6,New Paulville,2019-02-27 11:17:56,43.25,793208410091,44,Urban
7,Simpsonburgh,2019-04-26 00:43:24,35.98,111953927754,21,Urban
8,South Karenland,2019-01-08 03:28:48,35.09,7995623208694,4,Urban
9,North Jasmine,2019-03-09 06:26:29,42.81,5327642267789,33,Urban

In [8]:
# 2. Get the total drivers for each city type
total_drivers_per_city_type=city_data_df.groupby('type')[['driver_count']].sum()
total_drivers_per_city_type

          driver_count
type
Rural               78
Suburban           490
Urban             2405

In [9]:
#  3. Get the total amount of fares for each city type
total_fares_per_city_type=pyber_data_df.groupby('type')[['fare']].sum()
total_fares_per_city_type

              fare
type
Rural      4327.93
Suburban  19356.33
Urban     39854.38

In [10]:
total_rides=pyber_data_df['type'].count()
total_rides

2375

In [11]:
sum_of_all_fares=pyber_data_df['fare'].sum()
sum_of_all_fares

63538.64

In [12]:
#  4A. Get the average fare per ride for each city type. 
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_cities_df.head(10)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
5,South Latoya,2019-03-11 12:26:48,9.52,1994999424437,10,Urban
6,New Paulville,2019-02-27 11:17:56,43.25,793208410091,44,Urban
7,Simpsonburgh,2019-04-26 00:43:24,35.98,111953927754,21,Urban
8,South Karenland,2019-01-08 03:28:48,35.09,7995623208694,4,Urban
9,North Jasmine,2019-03-09 06:26:29,42.81,5327642267789,33,Urban

In [13]:
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
rural_cities_df.head(10)

,city,date,fare,ride_id,driver_count,type
2250,Randallchester,2019-04-13 11:13:31,43.22,1076079536213,9,Rural
2251,North Holly,2019-02-02 14:54:00,12.42,1985256326182,8,Rural
2252,Michaelberg,2019-03-27 18:27:34,54.85,4421836952718,6,Rural
2253,Lake Latoyabury,2019-02-23 21:12:24,47.90,3269652929887,2,Rural
2254,Lake Latoyabury,2019-05-06 08:57:56,51.80,4018025271936,2,Rural
2255,Taylorhaven,2019-04-06 01:01:29,45.31,2275364435623,1,Rural
2256,Garzaport,2019-02-18 18:27:48,36.16,2928337561347,7,Rural
2257,New Ryantown,2019-01-27 17:33:41,42.68,7994603753131,2,Rural
2258,Lake Latoyabury,2019-04-02 21:00:22,13.46,8232864757802,2,Rural
2259,North Holly,2019-02-16 17:02:51,39.46,4571476032148,8,Rural

In [14]:
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
suburban_cities_df.head(10)

,city,date,fare,ride_id,driver_count,type
1625,Barronchester,2019-01-27 03:08:01,27.79,6653622887913,11,Suburban
1626,East Kentstad,2019-04-07 19:44:19,18.75,6575961095852,20,Suburban
1627,Lake Omar,2019-01-17 21:33:35,21.71,966911700371,22,Suburban
1628,Myersshire,2019-02-27 17:38:39,17.10,5706770909868,19,Suburban
1629,West Hannah,2019-04-19 01:06:59,37.78,2273047151891,12,Suburban
1630,East Marymouth,2019-03-29 08:36:20,37.60,6370863861570,5,Suburban
1631,New Raymond,2019-02-25 21:40:18,20.44,5984505117874,17,Suburban
1632,Lake Robertside,2019-01-11 20:17:36,46.51,6574333011308,4,Suburban
1633,Josephside,2019-03-30 09:45:11,44.74,5592692102803,25,Suburban
1634,Brandonfort,2019-01-14 12:35:27,28.02,8100258078935,10,Suburban

In [15]:
#  4B. Get the average fare per ride for each city type. 
suburban_avg_fare = suburban_cities_df.mean()["fare"]
rural_avg_fare = rural_cities_df.mean()["fare"]
urban_avg_fare = urban_cities_df.mean()["fare"]

C:\Users\aggie\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

C:\Users\aggie\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\aggie\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

In [16]:
average_fare_per_ride_by_city_type = pyber_data_df.groupby("type").mean()["fare"]
average_fare_per_ride_by_city_type

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
Name: fare, dtype: float64

In [17]:
suburban_avg_fare

30.97012800000002

In [18]:
rural_avg_fare

34.623440000000016

In [19]:
urban_avg_fare

24.52577230769236

In [20]:
# 5. Get the average fare per driver for each city type. 
#TOTAL fare for Suburban
suburban_total_fare=suburban_cities_df.sum()["fare"]
suburban_total_fare

19356.33

In [21]:
#TOTAL drivers for Suburban
suburban_total_drivers=city_data_df[city_data_df["type"] =="Suburban"].sum()["driver_count"]
suburban_total_drivers

490

In [22]:
#TOTAL fare for Rural
rural_total_fare = rural_cities_df.sum()["fare"]
rural_total_fare

4327.929999999999

In [23]:
#TOTAL drivers for Rural
rural_total_drivers=city_data_df[city_data_df["type"] =="Rural"].sum()["driver_count"]
rural_total_drivers

78

In [24]:
#TOTAL fare for Urban
urban_total_fare=urban_cities_df.sum()["fare"]
urban_total_fare

39854.380000000005

In [25]:
#TOTAL drivers for Urban
urban_total_drivers=city_data_df[city_data_df["type"] =="Urban"].sum()["driver_count"]
urban_total_drivers

2405

In [26]:
#5B - URBAN - Get the average fare per driver for each city type.
urban_average_fare_per_driver = urban_total_fare/urban_total_drivers
urban_average_fare_per_driver

16.571467775467777

In [27]:
#5B - SUBURBAN - Get the average fare per driver for each city type.
suburban_average_fare_per_driver = suburban_total_fare/suburban_total_drivers
suburban_average_fare_per_driver

39.50271428571429

In [28]:
#5B - RURAL - Get the average fare per driver for each city type.
rural_average_fare_per_driver = rural_total_fare/rural_total_drivers
rural_average_fare_per_driver

55.486282051282046

In [29]:
#  6. Create a PyBer summary DataFrame. 
PyBer_summary_df = pd.DataFrame(
          {"Total Rides": [total_rides_per_city_type],
          "Total Drivers": [total_drivers_per_city_type],
          "Total Fares": [total_fares_per_city_type]
           })
          
PyBer_summary_df

,Total Rides,Total Drivers,Total Fares
0,ride_id type Rural ...,driver_count type ...,fare type Rural ...

In [35]:
pd.concat([total_rides_per_city_type, total_drivers_per_city_type, total_fares_per_city_type], axis=1)

          ride_id  driver_count      fare
type
Rural         125            78   4327.93
Suburban      625           490  19356.33
Urban        1625          2405  39854.38

In [32]:
total_drivers_per_city_type

          driver_count
type
Rural               78
Suburban           490
Urban             2405

In [31]:
#  6BB. Create a PyBer summary DataFrame. 
PyBer_summary_df = pd.DataFrame(
          {"Total Rides": [total_rides_per_city_type],
          "Total Drivers": [total_drivers_per_city_type],
          "Total Fares": [total_fares_per_city_type],
          "Average Fare Per Ride": [average_fare_per_ride_by_city_type],
          "Average Fare Per Driver": [suburban_average_fare_per_driver, rural_average_fare_per_driver, urban_average_fare_per_driver]})
          
PyBer_summary_df

ValueError: All arrays must be of the same length

In [ ]:
suburban_avg_fare, rural_avg_fare, urban_avg_fare

In [ ]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame
pyber_data_df

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')